nav h1 a {
  line-height: 80px;
}

#breadcrumb {
  padding: 10px 40px 10px;
}

#restaurant-container, #reviews-container, .inside #footer {
  box-sizing: border-box;
}

#restaurant-name {
  margin-bottom: 20px;
}

#restaurant-img, #reviews-list li {
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#reviews-list li .header-wrapper{
  background-color: #252831;
  margin: 0px -20px;
  padding: 20px 20px 10px;
  display: inline-block;
  width: 100%;
}

#reviews-list li .header-wrapper .reviewer-name {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  float: left;
}

#reviews-list li .header-wrapper .review-date {
  color: #ddd;
  font-size: 18px;
  float: right;
}

#reviews-list li .rate-number {
  color: #fff;
  background-color: #FF9800;
  font-weight: 600;
  font-size: 16px;
  clear: both;
  display: inline-block;
  padding: 8px 15px;
  border-radius: 4px;
  letter-spacing: 1px;
  margin: 10px 0px;
}

@media screen and (max-width: 460px) {
  nav h1 a {
    font-size: 16px;
    letter-spacing: 5px;
  }
  #reviews-container h2, #restaurant-name {
    font-size: 16pt;
    margin: 0px 0px 10px;
  }
}

@media screen and (max-width: 700px) { 
  .inside #map-container {
    width: 100%;
    position: relative;
    height: 300px;
     top: 0px;
    margin-top: 120px;
  }
  #breadcrumb {
    width: 100%;
  }
  #restaurant-container, 
  #reviews-container{
    width: 100%;
    padding-top: 20px;
    position: relative;
  }
}

